<template>
  <div class="choosebg">
    <div style="height:3rem"></div>
     <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
               <img src="static/img/choose/1.png" alt="">
            </div>
            <div class="swiper-slide">
              <img  src="static/img/choose/2.png" alt="">
            </div>
            <div class="swiper-slide" >
              <img  src="static/img/choose/3.png" alt="">
            </div>
            <div class="swiper-slide">
              <img  src="static/img/choose/4.png" alt="">
            </div>
        </div>
         <div class="swiper-button-prev" @click="handleSwiper(0)"></div>
         <div class="swiper-button-next" @click="handleSwiper(1)"></div>
         <img class="lyy" src="static/img/lyy.png"/>
         <img class="ryy" src="static/img/ryy.png"/>
    </div>
   <img class="text" src="static/img/choose/text.png" alt="">
   <div style="height:1rem"></div>
   <!-- <div class="btn"  @click="getIndex">就去这里！</div> -->
  </div>
</template>

<script>
import Swiper from 'swiper';
import 'swiper/dist/css/swiper.min.css';
export default {
  components: {},
  props: {},
  data() {
    return {
      current:0,
      mySwiper:''
    };
  },
  created() {
    let currentPath = ''
    if (location.href.indexOf('#') > -1) {
      currentPath = location.href.split('#')[1]
    } else {
      currentPath = location.pathname
    }
    stm_clicki('send', 'pageview', {'page': currentPath, 'title': 'choose'})
  },
  mounted() {
     this.mySwiper = new Swiper('.swiper-container', {
       loop:true,
       slidesPerView: "auto",
       centeredSlides:true,
        spaceBetween: 25,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        on:{
          click: ()=>{
            // console.log('111')
          },
      },
     })
      this.mySwiper.slides.on('click',  (e) => {
        let pageName = ''
        let view = ''
        switch (this.mySwiper.realIndex) {
          case 0:
            pageName = '主题奇妙森林'
            view = 'view1'
            break
          case 1:
            pageName = '主题神秘星空'
            view = 'view2'
            break
          case 2:
            pageName = '主题快乐都市'
            view = 'view3'
            break
          case 3:
            pageName = '主题海洋世界'
             view = 'view4'
            break
        }
        stm_clicki('send', 'event', '主题选择页', '点击', pageName)
        gtag('event', view, {'event_category': 'kinder','event_label': 'click'});
            localStorage.setItem('choose', this.mySwiper.realIndex)      
            this.$router.replace('/nchoose')
        }, false);
  },
  methods: {
    pageChange(index){
      this.current = index;
    },
    getIndex(){
      localStorage.setItem('choose',this.mySwiper.realIndex)      
       this.$router.replace('/nchoose')
    },
    handleSwiper (type) {
      if (type === 0) {
        stm_clicki('send', 'event', '主题选择页', '点击', '左箭头点击')
      } else if (type === 1) {
        stm_clicki('send', 'event', '主题选择页', '点击', '右箭头点击')
      }
    }
  },
  watch: {},
  computed: {
   
  },
};
</script>
<style lang="less" scoped>
.swiper-slide-active{
  img{
    transform: scale(1.15)
  }
}
.swiper-button-prev{
   left: -1rem!important;
   background: url(../../static/img/choose/left.png) no-repeat;
   background-size: 100%;
}
.swiper-button-next{
   right: -1rem!important;
    background: url(../../static/img/choose/right.png) no-repeat;
   background-size: 100%;
}
.swiper-container {
      width: 5rem;
      height: 6.5rem;
      overflow: visible;
      position: relative;
      .lyy{
        position: absolute;
        width: 1.9rem;
        left: -2.7rem;
        top: 0.2rem;
        z-index: 2;
      }
      .ryy{
        position: absolute;
        width: 1.9rem;
        right: -2.7rem;
        top: 0.2rem;
        z-index: 2;
      }
      // margin-top: 3.5rem;
  .swiper-slide{
    img{
      width: 100%;
    }
  }
}
  .choosebg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    
    .swiperbox{
      width: 5.5rem;
      height: 7rem;
      position: relative;
    }
    .text{
      width: 50%;
      margin-top: 1rem;
      margin-bottom: 1.4rem;
    }
  }
</style>