<template>
  <div class="gravitybg" ref="gravitybg">
      <div ref="moveBox" class="moveBox">
          <!-- 奇妙森林 -->
          <div class="tips" v-if="imgSrc == 'senlin1'">
              <img id='senlin1-1' class="senlin1-1" src="static/img/gravity/senlin1-1.png" alt="">
              <img id="senlin1-2" class="senlin1-2" src="static/img/gravity/senlin1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'senlin2'">
              <img id='senlin2-1' class="senlin2-1" src="static/img/gravity/senlin2-1.png" alt="">
              <img id="senlin2-2" class="senlin2-2" src="static/img/gravity/senlin2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'senlin3'">
              <img id='senlin3-1' class="senlin3-1" src="static/img/gravity/senlin3-1.png" alt="">
              <img id="senlin3-2" class="senlin3-2" src="static/img/gravity/senlin3-2.png" alt="">
          </div>   
           <!-- 神秘星河 -->
          <div class="tips" v-if="imgSrc == 'xinghe1'">
              <img id='xinghe1-1' class="xinghe1-1" src="static/img/gravity/xinghe1-1.png" alt="">
              <img id="xinghe1-2" class="xinghe1-2" src="static/img/gravity/xinghe1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'xinghe2'">
              <img id='xinghe2-1' class="xinghe2-1" src="static/img/gravity/xinghe2-1.png" alt="">
              <img id="xinghe2-2" class="xinghe2-2" src="static/img/gravity/xinghe2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'xinghe3'">
              <img id='xinghe3-1' class="xinghe3-1" src="static/img/gravity/xinghe3-1.png" alt="">
              <img id="xinghe3-2" class="xinghe3-2" src="static/img/gravity/xinghe3-2.png" alt="">
          </div> 

          <!-- 快乐都市 -->
          <div class="tips" v-if="imgSrc == 'dushi1'">
              <img id='dushi1-1' class="dushi1-1" src="static/img/gravity/dushi1-1.png" alt="">
              <img id="dushi1-2" class="dushi1-2" src="static/img/gravity/dushi1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'dushi2'">
              <img id='dushi2-1' class="dushi2-1" src="static/img/gravity/dushi2-1.png" alt="">
              <img id="dushi2-2" class="dushi2-2" src="static/img/gravity/dushi2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'dushi3'">
              <img id='dushi3-1' class="dushi3-1" src="static/img/gravity/dushi3-1.png" alt="">
              <img id="dushi3-2" class="dushi3-2" src="static/img/gravity/dushi3-2.png" alt="">
          </div>   

           <!-- 海洋世界 -->
          <div class="tips" v-if="imgSrc == 'haiyang1'">
              <img id='haiyang1-1' class="haiyang1-1" src="static/img/gravity/haiyang1-1.png" alt="">
              <img id="haiyang1-2" class="haiyang1-2" src="static/img/gravity/haiyang1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'haiyang2'">
              <img id='haiyang2-1' class="haiyang2-1" src="static/img/gravity/haiyang2-1.png" alt="">
              <img id="haiyang2-2" class="haiyang2-2" src="static/img/gravity/haiyang2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'haiyang3'">
              <img id='haiyang3-1' class="haiyang3-1" src="static/img/gravity/haiyang3-1.png" alt="">
              <img id="haiyang3-2" class="haiyang3-2" src="static/img/gravity/haiyang3-2.png" alt="">
          </div>  
          <!-- <img id="dushi3" @load="load"  src="/static/img/gravity/dushi3.jpg" alt=""> -->
      </div>
      <span ref="span"></span>
      <p ref="span2"></p>
      <img ref="tipsd" class="tipsd" src="static/img/tips.png" alt="">
      <div @click="goback()" class="goback"></div>
      <img @click="gonext()" class="fiexd" src="static/img/gravity/grabtn.png" alt="">
  </div>
</template>

<script>
let lastA = 0,lastB = 0,moveA,moveB,a,transX = 0,b
export default {
  components: {},
  props: {},
  data() {
    return {
        WIDTH:document.body.offsetWidth,
        HEIGHT:document.body.offsetHeight,
        imgHeight:'',
        imgSrc:'',
        MAX:'',
        MAXH:'',
        leftPX:'',
        topPX:'',
        transX:0,
        transY:0,
        moveImgObj : {
            transX: 0,
            transY:0,
            newX: '',
            lon: '', //保存载入时lon，不同位置刷新后初始值一致
            lat:'',
            stepX: 30, 
        },
       isOrient:false,
       first:0,
       lastB:'',
       isshuiping:false,
       isshuiping2:false
    };
  },
  created() {
      // 0--奇妙森林  1--神秘星河  2--快乐都市  3--海洋世界
      let choose = localStorage.getItem('choose')
      let nchoose = localStorage.getItem('nchoose')
     if(choose == 0){
         choose = 'senlin'
     }else if(choose == 1){
        choose = 'xinghe'
     }else if(choose == 2){
        choose = 'dushi'
     }else if(choose == 3){
        choose = 'haiyang'
     }
     this.imgSrc = `${choose}${parseInt(nchoose) + 1}`
    //this.imgSrc = 'dushi2'
    console.log(this.imgSrc)
  },
  mounted() {
       let image = new Image()
        image.onload = () => {
            // width: 3750px;
            // height: 1464px;
              // width: 2500px;
        // height: 976px;
            let ww = 3750 * 0.6
            let hh = 1464 * 0.6
            console.log(ww)
            this.$refs.gravitybg.classList.add('kk')
            this.$refs.moveBox.classList.add('scale')
            // if(this.imgSrc == 'haiyang2'){
            //     this.$refs.moveBox.classList.add('scale1')
            // }else{
            //     this.$refs.moveBox.classList.add('scale')
            // }
            this.$refs.moveBox.style.background = `url(${image.src}) no-repeat`
            this.$refs.moveBox.style.backgroundSize = '100% 100%'    
            this.$refs.tipsd.style.opacity = 0
            setTimeout(() => {
                console.log(this.$refs.moveBox.getBoundingClientRect().width)
                this.MAX = ww - this.WIDTH //图片宽度减去手机宽度得到滑动宽度的极限值
                this.MAXH = hh - this.HEIGHT
                this.leftPX =  -(this.MAX / 2) 
                this.topPX =  -(this.MAXH / 2)
                this.$refs.tipsd.style.opacity = 1
                this.$refs.tipsd.classList.add('fadeout')
                this.$refs.gravitybg.classList.remove('kk')
                this.$refs.moveBox.style.width = ww + 'px'
                this.$refs.moveBox.style.height = hh + 'px'
                this.$refs.moveBox.classList.remove('scale')
                // if(this.imgSrc == 'haiyang2'){
                //     this.$refs.moveBox.classList.remove('scale1')
                // }else{
                //     this.$refs.moveBox.classList.remove('scale')
                // }
                
                this.$refs.moveBox.style.webkitTransform = `translate3d(-${this.MAX / 2}px,-${this.MAXH / 2}px,0)`
                this.isOrient = true
                this.orienterr = new Orienter();
                this.orienterr.onOrient = this.onOrient;
                this.orienterr.on();
            }, 1000);

            // this.$refs.moveBox.style.webkitTransform = `translate3d(-${this.MAX / 2}px,-${this.MAXH / 2}px,0)`
            // if (window.DeviceMotionEvent) {
            //     this.isOrient = true
            //     this.orienterr = new Orienter();
            //     this.orienterr.onOrient = this.onOrient;
            //     this.orienterr.on();
            //      //window.addEventListener('devicemotion',this.moveGravity,false); 
            // } else {
            //     console.log("亲，你的设备不支持 DeviceMotionEvent 哦~");
            // }
        }
        image.src = `static/img/gravity/${this.imgSrc}.jpg`
        //image.src = `static/img/gravity/dushi2.jpg`
  },
  methods: {
    onOrient(obj) {
        this.moveGravity(obj);
    },
    moveGravity(obj) {

        a = obj.lon ;
       
       b = Math.abs(obj.lat)    
     
        
       if(lastA != 0){
            //  this.$refs.span.innerHTML ='a' + a +  'lastA:==' + lastA
            if(Math.ceil(Math.abs(a - lastA)) == 360 || Math.floor(Math.abs(a - lastA)) == 360){
                //    alert(a - lastA)
            }else{
                // this.$refs.span2.innerHTML =  'a:==' + moveA
                 
                moveA = Math.floor((a - lastA) * 20)
                moveB = Math.floor((b - lastB) * 20)
                if(Math.abs(moveA) > 50 || Math.abs(moveA) < 1){
                    lastA = a
                    lastB = b
                    return
                }
                console.log('***********' + moveA)
                this.leftPX =  this.leftPX + moveA ; 
                this.topPX =  this.topPX - moveB ; 
                this.leftPX = this.leftPX > 0 ? 0 : (Math.abs(this.leftPX) < this.MAX ? this.leftPX : -this.MAX)
                this.topPX = this.topPX > 0 ? 0 : (Math.abs(this.topPX) < this.MAXH ? this.topPX : -this.MAXH)
                this.$refs.moveBox.style.webkitTransform = `translate3d(${this.leftPX}px,${this.topPX}px,0)`
                let aa = Math.floor(Math.abs((this.leftPX / this.MAX) * 100))
                this.showTips(aa)
                lastA = a
                lastB = b
            }
           
           
            
        }else{
            lastA = a
            lastB = b
        }
        
    
     
        //显示内容
        // let aa = Math.floor(Math.abs((this.moveImgObj.transX / this.MAX) * 100))
        // this.showTips(aa)
        // this.lastB = b
        
    },
    showTips(transX){
          this.$refs.span.innerHTML = 'transX:==' + transX
        if(this.imgSrc == 'senlin1'){
            if(transX  > 20 && transX < 40){
                document.getElementById('senlin1-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('senlin1-2').classList.add('alert')
            }else{
                document.getElementById('senlin1-1').classList.remove('alert')
                document.getElementById('senlin1-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'senlin2'){
            if(transX  > 10 && transX < 40){
                document.getElementById('senlin2-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('senlin2-2').classList.add('alert')
            }else{
                document.getElementById('senlin2-1').classList.remove('alert')
                 document.getElementById('senlin2-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'senlin3'){
            if(transX  > 15 && transX < 40){
                document.getElementById('senlin3-1').classList.add('alert')
            }else if(transX  > 65 && transX < 85){
                document.getElementById('senlin3-2').classList.add('alert')
            }else{
                document.getElementById('senlin3-1').classList.remove('alert')
                document.getElementById('senlin3-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'xinghe1'){
            if(transX  > 20 && transX < 40){
                document.getElementById('xinghe1-1').classList.add('alert')
            }else if(transX  > 65 && transX < 85){
                document.getElementById('xinghe1-2').classList.add('alert')
            }else{
                document.getElementById('xinghe1-1').classList.remove('alert')
                document.getElementById('xinghe1-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'xinghe2'){
            if(transX  > 15 && transX < 40){
                document.getElementById('xinghe2-1').classList.add('alert')
            }else if(transX  > 65 && transX < 90){
                document.getElementById('xinghe2-2').classList.add('alert')
            }else{
                document.getElementById('xinghe2-1').classList.remove('alert')
                document.getElementById('xinghe2-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'xinghe3'){
            if(transX  > 10 && transX < 30){
                document.getElementById('xinghe3-1').classList.add('alert')
            }else if(transX  > 65 && transX < 90){
                document.getElementById('xinghe3-2').classList.add('alert')
            }else{
                document.getElementById('xinghe3-1').classList.remove('alert')
                document.getElementById('xinghe3-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'dushi1'){
            if(transX  > 20 && transX < 40){
                document.getElementById('dushi1-1').classList.add('alert')
            }else if(transX  > 50 && transX < 80){
                document.getElementById('dushi1-2').classList.add('alert')
            }else{
                document.getElementById('dushi1-1').classList.remove('alert')
                document.getElementById('dushi1-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'dushi2'){
            if(transX  > 15 && transX < 40){
                document.getElementById('dushi2-1').classList.add('alert')
            }else if(transX  > 60 && transX < 90){
                document.getElementById('dushi2-2').classList.add('alert')
            }else{
                document.getElementById('dushi2-1').classList.remove('alert')
                document.getElementById('dushi2-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'dushi3'){
            if(transX  > 20 && transX < 45){
                document.getElementById('dushi3-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('dushi3-2').classList.add('alert')
            }else{
                document.getElementById('dushi3-1').classList.remove('alert')
                document.getElementById('dushi3-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'haiyang1'){
            if(transX  > 10 && transX < 40){
                document.getElementById('haiyang1-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('haiyang1-2').classList.add('alert')
            }else{
                document.getElementById('haiyang1-1').classList.remove('alert')
                document.getElementById('haiyang1-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'haiyang2'){
            if(transX  > 10 && transX < 40){
                document.getElementById('haiyang2-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('haiyang2-2').classList.add('alert')
            }else{
                document.getElementById('haiyang2-1').classList.remove('alert')
                document.getElementById('haiyang2-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'haiyang3'){
            if(transX  > 10 && transX < 40){
                document.getElementById('haiyang3-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('haiyang3-2').classList.add('alert')
            }else{
                document.getElementById('haiyang3-1').classList.remove('alert')
                document.getElementById('haiyang3-2').classList.remove('alert')
            }
        }
    },
    gonext(){
        if(this.isOrient){
            this.orienterr.off();
        }
        this.$router.replace('/userinfo')
    },
    goback(){
        if(this.isOrient){
            this.orienterr.off();
        }
        this.$router.replace('/nchoose')
    }
  },
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
.tipsd{
    position: fixed;
    z-index: 99;
    width: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.kk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gravitybg{
    width: 100%;
    height: 100%;
  
    overflow-x: hidden;
    overflow-y: hidden;
    .fiexd{
        position: fixed;
        left: 50%;
        transform: translate(-50%,0);
        bottom: 1rem;
        width: 4rem;
        z-index: 9999;
    }
    .moveBox{
        width: 3750px;
        height: 1464px;
        // margin: 0 auto;
        // width: 2500px;
        // height: 976px;
        
        // transform: scale(0.667);
        .tips{
            width: 100%;
            height: 100%;
            position: relative;
            img{
                position: absolute;
                z-index: 999;
                opacity: 0;
                transform: scale(0)
            }
            // 奇幻森林
            .senlin1-1{top: 25%;left: 31%;width: 4.5rem;}
            .senlin1-2{top: 20%;left: 60%;width: 4.5rem;}

            .senlin2-1{top: 25%;left: 25%;width: 4.5rem;}
            .senlin2-2{top: 35%;left: 61%;width: 4rem;}

            .senlin3-1{top: 43%;left: 28%;width: 4.5rem;}
            .senlin3-2{top: 31%;left: 66%;width: 4rem;}

            //神秘星河
            .xinghe1-1{top: 45%;left: 31%;width: 4rem;}
            .xinghe1-2{top: 35%;left: 70%;width: 4.5rem;}

            .xinghe2-1{top: 35%;left: 25%;width: 4.5rem;}
            .xinghe2-2{top: 41%;left: 68%;width: 4rem;}

            .xinghe3-1{top: 25%;left: 20%;width: 4.5rem;}
            .xinghe3-2{top: 35%;left: 70%;width: 4rem;}

            .dushi3-1{top: 52%;left: 31%;width: 5rem;}
            .dushi3-2{top: 40%;left: 61%;width: 5rem;}

            //快乐都市
            .dushi1-1{top: 45%;left: 31%;width: 4rem;}
            .dushi1-2{top: 45%;left: 65%;width: 5rem;}

            .dushi2-1{top: 50%;left: 24%;width: 4.5rem;}
            .dushi2-2{top: 41%;left: 63%;width: 5rem;}

            .dushi3-1{top: 52%;left: 31%;width: 5rem;}
            .dushi3-2{top: 40%;left: 61%;width: 5rem;}

            //海洋世界
            .haiyang1-1{top: 60%;left: 28%;width: 4.5rem;}
            .haiyang1-2{top: 45%;left: 59%;width: 4.5rem;}

            .haiyang2-1{top: 50%;left: 24%;width: 5rem;}
            .haiyang2-2{top: 50%;left: 63%;width: 5rem;}

            .haiyang3-1{top: 42%;left: 26%;width: 5.5rem;}
            .haiyang3-2{top: 50%;left: 62%;width: 5.5rem;}
        }
    }
    span{
        position: fixed;
        color: red;
        z-index: 9999999;
        top: 0;
        left: 0;
    }
    p{
        position: fixed;
        color: red;
        z-index: 9999999;
        top:50px;
        left: 0;
    }
}
</style>