<template>
  <div class="gravitybg">
      <div ref="moveBox" class="moveBox">
          <!-- 奇妙森林 -->
          <div class="tips" v-if="imgSrc == 'senlin1'">
              <img id='senlin1-1' class="senlin1-1" src="static/img/gravity/senlin1-1.png" alt="">
              <img id="senlin1-2" class="senlin1-2" src="static/img/gravity/senlin1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'senlin2'">
              <img id='senlin2-1' class="senlin2-1" src="static/img/gravity/senlin2-1.png" alt="">
              <img id="senlin2-2" class="senlin2-2" src="static/img/gravity/senlin2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'senlin3'">
              <img id='senlin3-1' class="senlin3-1" src="static/img/gravity/senlin3-1.png" alt="">
              <img id="senlin3-2" class="senlin3-2" src="static/img/gravity/senlin3-2.png" alt="">
          </div>   
           <!-- 神秘星河 -->
          <div class="tips" v-if="imgSrc == 'xinghe1'">
              <img id='xinghe1-1' class="xinghe1-1" src="static/img/gravity/xinghe1-1.png" alt="">
              <img id="xinghe1-2" class="xinghe1-2" src="static/img/gravity/xinghe1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'xinghe2'">
              <img id='xinghe2-1' class="xinghe2-1" src="static/img/gravity/xinghe2-1.png" alt="">
              <img id="xinghe2-2" class="xinghe2-2" src="static/img/gravity/xinghe2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'xinghe3'">
              <img id='xinghe3-1' class="xinghe3-1" src="static/img/gravity/xinghe3-1.png" alt="">
              <img id="xinghe3-2" class="xinghe3-2" src="static/img/gravity/xinghe3-2.png" alt="">
          </div> 

          <!-- 快乐都市 -->
          <div class="tips" v-if="imgSrc == 'dushi1'">
              <img id='dushi1-1' class="dushi1-1" src="static/img/gravity/dushi1-1.png" alt="">
              <img id="dushi1-2" class="dushi1-2" src="static/img/gravity/dushi1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'dushi2'">
              <img id='dushi2-1' class="dushi2-1" src="static/img/gravity/dushi2-1.png" alt="">
              <img id="dushi2-2" class="dushi2-2" src="static/img/gravity/dushi2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'dushi3'">
              <img id='dushi3-1' class="dushi3-1" src="static/img/gravity/dushi3-1.png" alt="">
              <img id="dushi3-2" class="dushi3-2" src="static/img/gravity/dushi3-2.png" alt="">
          </div>   

           <!-- 海洋世界 -->
          <div class="tips" v-if="imgSrc == 'haiyang1'">
              <img id='haiyang1-1' class="haiyang1-1" src="static/img/gravity/haiyang1-1.png" alt="">
              <img id="haiyang1-2" class="haiyang1-2" src="static/img/gravity/haiyang1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'haiyang2'">
              <img id='haiyang2-1' class="haiyang2-1" src="static/img/gravity/haiyang2-1.png" alt="">
              <img id="haiyang2-2" class="haiyang2-2" src="static/img/gravity/haiyang2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'haiyang3'">
              <img id='haiyang3-1' class="haiyang3-1" src="static/img/gravity/haiyang3-1.png" alt="">
              <img id="haiyang3-2" class="haiyang3-2" src="static/img/gravity/haiyang3-2.png" alt="">
          </div>  
          <!-- <img id="dushi3" @load="load"  src="/static/img/gravity/dushi3.jpg" alt=""> -->
      </div>
      <span ref="span"></span>
      <div @click="goback()" class="goback"></div>
      <img @click="gonext()" class="fiexd" src="static/img/gravity/grabtn.png" alt="">
  </div>
</template>

<script>
export default {
  components: {},
  props: {},
  data() {
    return {
        WIDTH:document.body.offsetWidth,
        HEIGHT:document.body.offsetHeight,
        imgHeight:'',
        imgSrc:'',
        MAX:'',
        leftPX:'',
        moveImgObj : {
            transX: 0,
            newX: '',
            lon: '', //保存载入时lon，不同位置刷新后初始值一致
            stepX: 30, 
        },
       isOrient:false
    };
  },
  created() {
      // 0--奇妙森林  1--神秘星河  2--快乐都市  3--海洋世界
      let choose = localStorage.getItem('choose')
      let nchoose = localStorage.getItem('nchoose')
     if(choose == 0){
         choose = 'senlin'
     }else if(choose == 1){
        choose = 'xinghe'
     }else if(choose == 2){
        choose = 'dushi'
     }else if(choose == 3){
        choose = 'haiyang'
     }
     this.imgSrc = `${choose}${parseInt(nchoose) + 1}`
    console.log(this.imgSrc)
  },
  mounted() {
       let image = new Image()
        image.onload = () => {
            this.MAX = this.$refs.moveBox.clientWidth - this.WIDTH //图片宽度减去手机宽度得到滑动宽度的极限值
            this.$refs.moveBox.style.background = `url(${image.src}) center`
            this.$refs.moveBox.style.backgroundSize = 'cover'
            this.leftPX =  this.MAX / 2
            this.$refs.moveBox.style.webkitTransform = `translate3d(-${this.MAX / 2}px,0,0)`
             if (window.DeviceMotionEvent) {
                this.isOrient = true
                this.orienterr = new Orienter();
                this.orienterr.onOrient = this.onOrient;
                this.orienterr.on();
                 //window.addEventListener('devicemotion',this.moveGravity,false); 
            } else {
                console.log("亲，你的设备不支持 DeviceMotionEvent 哦~");
            }
        }
        image.src = `static/img/gravity/${this.imgSrc}.jpg`
  },
  methods: {
    onOrient(obj) {
        this.moveGravity(obj);
    },
    moveGravity(obj) {
        let a,b;
        a = obj.lon < 180 ? obj.lon : obj.lon - 360;
        console.log(obj.lon)
        if(a == 30){
            return
        }
        if (this.moveImgObj.lon == "") {
            if (obj.lon > 180) {
                this.moveImgObj.lon = 0;
            } else {
                this.moveImgObj.lon = obj.lon
            }
        }else{
             a = (a - this.moveImgObj.lon) * this.moveImgObj.stepX;
             b = a - this.leftPX
             b = b > 0 ? (b > 0 ? 0 : b) : (b < -this.MAX ? -this.MAX : b); 
             //this.$refs.span.innerHTML = 'transX:==' + a 
            this.moveImgObj.transX =  b;

            this.$refs.moveBox.style.webkitTransform = `translate3d(${this.moveImgObj.transX}px,0,0)`
            
            //显示内容
            let aa = Math.floor(Math.abs((this.moveImgObj.transX / this.MAX) * 100))
            this.showTips(aa)

        }
        
      },
    showTips(transX){
         this.$refs.span.innerHTML = 'transX:==' + transX
        if(this.imgSrc == 'senlin1'){
            if(transX  > 20 && transX < 40){
                document.getElementById('senlin1-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('senlin1-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'senlin2'){
            if(transX  > 20 && transX < 40){
                document.getElementById('senlin2-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('senlin2-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'senlin3'){
            if(transX  > 25 && transX < 40){
                document.getElementById('senlin3-1').classList.add('alert')
            }else if(transX  > 65 && transX < 85){
                document.getElementById('senlin3-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'xinghe1'){
            if(transX  > 20 && transX < 40){
                document.getElementById('xinghe1-1').classList.add('alert')
            }else if(transX  > 65 && transX < 85){
                document.getElementById('xinghe1-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'xinghe2'){
            if(transX  > 15 && transX < 40){
                document.getElementById('xinghe2-1').classList.add('alert')
            }else if(transX  > 65 && transX < 90){
                document.getElementById('xinghe2-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'xinghe3'){
            if(transX  > 10 && transX < 30){
                document.getElementById('xinghe3-1').classList.add('alert')
            }else if(transX  > 65 && transX < 90){
                document.getElementById('xinghe3-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'dushi1'){
            if(transX  > 20 && transX < 30){
                document.getElementById('dushi1-1').classList.add('alert')
            }else if(transX  > 65 && transX < 85){
                document.getElementById('dushi1-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'dushi2'){
            if(transX  > 15 && transX < 30){
                document.getElementById('dushi2-1').classList.add('alert')
            }else if(transX  > 60 && transX < 85){
                document.getElementById('dushi2-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'dushi3'){
            if(transX  > 20 && transX < 40){
                document.getElementById('dushi3-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('dushi3-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'haiyang1'){
            if(transX  > 10 && transX < 40){
                document.getElementById('haiyang1-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('haiyang1-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'haiyang2'){
            if(transX  > 10 && transX < 40){
                document.getElementById('haiyang2-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('haiyang2-2').classList.add('alert')
            }
        }else if(this.imgSrc == 'haiyang3'){
            if(transX  > 10 && transX < 40){
                document.getElementById('haiyang3-1').classList.add('alert')
            }else if(transX  > 55 && transX < 80){
                document.getElementById('haiyang3-2').classList.add('alert')
            }
        }
    },
    gonext(){
        if(this.isOrient){
            this.orienterr.off();
        }
        this.$router.replace('/userinfo')
    },
    goback(){
        if(this.isOrient){
            this.orienterr.off();
        }
        this.$router.replace('/nchoose')
    }
        
    //   load(){
    //       console.log(this.HEIGHT)
    //       this.imgHeight = document.getElementById('dushi3').clientHeight
    //       if(this.imgHeight > this.HEIGHT){
    //           document.getElementById('dushi3').style.transform = `translate(0, -${(this.imgHeight - this.HEIGHT) / 2}px)`
    //       }
    //   }
  },
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
.gravitybg{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    .fiexd{
        position: fixed;
        left: 50%;
        transform: translate(-50%,0);
        bottom: 1rem;
        width: 4rem;
    }
    .moveBox{
        width: 500%;
        height: 100%;
        .tips{
            width: 100%;
            height: 100%;
            position: relative;
            img{
                position: absolute;
                z-index: 999;
                opacity: 0;
                transform: scale(0)
            }
            // 奇幻森林
            .senlin1-1{top: 25%;left: 31%;width: 4.5rem;}
            .senlin1-2{top: 20%;left: 60%;width: 4.5rem;}

            .senlin2-1{top: 25%;left: 25%;width: 4.5rem;}
            .senlin2-2{top: 35%;left: 61%;width: 4rem;}

            .senlin3-1{top: 43%;left: 28%;width: 4.5rem;}
            .senlin3-2{top: 31%;left: 66%;width: 4rem;}

            //神秘星河
            .xinghe1-1{top: 45%;left: 31%;width: 4rem;}
            .xinghe1-2{top: 35%;left: 70%;width: 4.5rem;}

            .xinghe2-1{top: 35%;left: 25%;width: 4.5rem;}
            .xinghe2-2{top: 41%;left: 68%;width: 4rem;}

            .xinghe3-1{top: 25%;left: 20%;width: 4.5rem;}
            .xinghe3-2{top: 35%;left: 70%;width: 4rem;}

            .dushi3-1{top: 52%;left: 31%;width: 5rem;}
            .dushi3-2{top: 40%;left: 61%;width: 5rem;}

            //快乐都市
            .dushi1-1{top: 45%;left: 31%;width: 4rem;}
            .dushi1-2{top: 45%;left: 65%;width: 5rem;}

            .dushi2-1{top: 50%;left: 24%;width: 4.5rem;}
            .dushi2-2{top: 41%;left: 63%;width: 5rem;}

            .dushi3-1{top: 52%;left: 31%;width: 5rem;}
            .dushi3-2{top: 40%;left: 61%;width: 5rem;}

            //海洋世界
            .haiyang1-1{top: 60%;left: 28%;width: 4.5rem;}
            .haiyang1-2{top: 45%;left: 59%;width: 4.5rem;}

            .haiyang2-1{top: 50%;left: 24%;width: 5rem;}
            .haiyang2-2{top: 50%;left: 63%;width: 5rem;}

            .haiyang3-1{top: 42%;left: 26%;width: 5.5rem;}
            .haiyang3-2{top: 50%;left: 62%;width: 5.5rem;}
        }
    }
    span{
        position: fixed;
        color: red;
        z-index: 9999999;
        top: 0;
        left: 0;
    }
}
</style>