<template>
  <div class="gravitybg" ref="gravitybg">
      <div ref="moveBox" class="moveBox">
          <!-- 奇妙森林 -->
          <div class="tips" v-if="imgSrc == 'senlin1'">
              <img id='senlin1-1' class="senlin1-1" src="static/img/gravity/senlin1-1.png" alt="">
              <img id="senlin1-2" class="senlin1-2" src="static/img/gravity/senlin1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'senlin2'">
              <img id='senlin2-1' class="senlin2-1" src="static/img/gravity/senlin2-1.png" alt="">
              <img id="senlin2-2" class="senlin2-2" src="static/img/gravity/senlin2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'senlin3'">
              <img id='senlin3-1' class="senlin3-1" src="static/img/gravity/senlin3-1.png" alt="">
              <img id="senlin3-2" class="senlin3-2" src="static/img/gravity/senlin3-2.png" alt="">
          </div>   
           <!-- 神秘星河 -->
          <div class="tips" v-if="imgSrc == 'xinghe1'">
              <img id='xinghe1-1' class="xinghe1-1" src="static/img/gravity/xinghe1-1.png" alt="">
              <img id="xinghe1-2" class="xinghe1-2" src="static/img/gravity/xinghe1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'xinghe2'">
              <img id='xinghe2-1' class="xinghe2-1" src="static/img/gravity/xinghe2-1.png" alt="">
              <img id="xinghe2-2" class="xinghe2-2" src="static/img/gravity/xinghe2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'xinghe3'">
              <img id='xinghe3-1' class="xinghe3-1" src="static/img/gravity/xinghe3-1.png" alt="">
              <img id="xinghe3-2" class="xinghe3-2" src="static/img/gravity/xinghe3-2.png" alt="">
          </div> 

          <!-- 快乐都市 -->
          <div class="tips" v-if="imgSrc == 'dushi1'">
              <img id='dushi1-1' class="dushi1-1" src="static/img/gravity/dushi1-1.png" alt="">
              <img id="dushi1-2" class="dushi1-2" src="static/img/gravity/dushi1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'dushi2'">
              <img id='dushi2-1' class="dushi2-1" src="static/img/gravity/dushi2-1.png" alt="">
              <img id="dushi2-2" class="dushi2-2" src="static/img/gravity/dushi2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'dushi3'">
              <img id='dushi3-1' class="dushi3-1" src="static/img/gravity/dushi3-1.png" alt="">
              <img id="dushi3-2" class="dushi3-2" src="static/img/gravity/dushi3-2.png" alt="">
          </div>   

           <!-- 海洋世界 -->
          <div class="tips" v-if="imgSrc == 'haiyang1'">
              <img id='haiyang1-1' class="haiyang1-1" src="static/img/gravity/haiyang1-1.png" alt="">
              <img id="haiyang1-2" class="haiyang1-2" src="static/img/gravity/haiyang1-2.png" alt="">
          </div>   
           <div class="tips" v-if="imgSrc == 'haiyang2'">
              <img id='haiyang2-1' class="haiyang2-1" src="static/img/gravity/haiyang2-1.png" alt="">
              <img id="haiyang2-2" class="haiyang2-2" src="static/img/gravity/haiyang2-2.png" alt="">
          </div>   
          <div class="tips" v-if="imgSrc == 'haiyang3'">
              <img id='haiyang3-1' class="haiyang3-1" src="static/img/gravity/haiyang3-1.png" alt="">
              <img id="haiyang3-2" class="haiyang3-2" src="static/img/gravity/haiyang3-2.png" alt="">
          </div>  
          <!-- <img id="dushi3" @load="load"  src="/static/img/gravity/dushi3.jpg" alt=""> -->
      </div>
      <!-- <span ref="span"></!-->
      <!-- <p ref="span2"></p> -->
      <div class="tipsd" ref="tipsd">
            <img ref="tipsd1" src="static/img/tips1.png" alt="">
            <img src="static/img/tips2.png" alt="">
      </div>
      <div @click="goback()" class="goback"></div>
      <div class="fiexd">
          <img v-if="imgSrc == 'senlin1' || imgSrc == 'senlin2' || imgSrc == 'xinghe1' || imgSrc == 'xinghe2' || imgSrc == 'xinghe3' || imgSrc == 'dushi1' || imgSrc == 'dushi3'|| imgSrc == 'haiyang2' || imgSrc == 'haiyang3'"
          class="gjdl" src="static/img/gravity/gjdl.png" alt="">
          <p v-if="imgSrc == 'senlin3'">图片由摄影师何文轩提供</p>
          <p v-if="imgSrc == 'dushi2'">图片由摄影师周宇提供</p>
          <p v-if="imgSrc == 'haiyang1'">图片由摄影师宋刚提供</p>
          <div  @click="gonext()" class="btn">赢取探索之旅</div>
      </div>
      <img class="fiexd-text" src="static/img/fixed-p.png" alt="">
  </div>
</template>

<script>
let lastA = 0,lastB = 0,moveA,moveB,a,transX = 0,b
export default {
  components: {},
  props: {},
  data() {
    return {
        WIDTH:document.body.offsetWidth,
        HEIGHT:document.body.offsetHeight,
        imgHeight:'',
        imgSrc:'',
        MAX:'',
        MAXH:'',
        leftPX:'',
        topPX:'',
        transX:0,
        transY:0,
        moveImgObj : {
            transX: 0,
            transY:0,
            newX: '',
            lon: '', //保存载入时lon，不同位置刷新后初始值一致
            lat:'',
            stepX: 30, 
        },
       isOrient:false,
       first:0,
       lastB:'',
       orienterr:''
    };
  },
  created() {
        let currentPath = ''
        if (location.href.indexOf('#') > -1) {
            currentPath = location.href.split('#')[1]
        } else {
            currentPath = location.pathname
        }
        stm_clicki('send', 'pageview', {'page': currentPath, 'title': 'gravity'})
      // 0--奇妙森林  1--神秘星河  2--快乐都市  3--海洋世界
      let choose = localStorage.getItem('choose')
      let nchoose = localStorage.getItem('nchoose')
     if(choose == 0){
         choose = 'senlin'
     }else if(choose == 1){
        choose = 'xinghe'
     }else if(choose == 2){
        choose = 'dushi'
     }else if(choose == 3){
        choose = 'haiyang'
     }
     this.imgSrc = `${choose}${parseInt(nchoose) + 1}`
    //this.imgSrc = 'dushi2'
    console.log(this.imgSrc)
  },
  mounted() {
       let image = new Image()
        image.onload = () => {
           
            let ww = 3750 * 0.6 //2250
            let hh = 1464 * 0.6  //878.4
            this.$refs.gravitybg.classList.add('kk')
            this.$refs.moveBox.classList.add('scale')
            // if(this.imgSrc == 'haiyang2'){
            //     this.$refs.moveBox.classList.add('scale1')
            // }else{
            //     this.$refs.moveBox.classList.add('scale')
            // }
            this.$refs.tipsd.style.opacity = 1
            this.$refs.tipsd1.classList.add('aroundAnimation')
            this.$refs.tipsd.classList.add('fadeout')
            this.$refs.moveBox.style.background = `url(${image.src}) no-repeat`
            this.$refs.moveBox.style.backgroundSize = '100% 100%'  
          
            setTimeout(() => {
                console.log(hh)
                this.MAX = ww - this.WIDTH //图片宽度减去手机宽度得到滑动宽度的极限值
                this.MAXH = hh - this.HEIGHT
                this.leftPX =  -(this.MAX / 2) 
                this.topPX =  -(this.MAXH / 2)
                this.$refs.gravitybg.classList.remove('kk')
                this.$refs.moveBox.style.width = ww + 'px'
                this.$refs.moveBox.style.height = hh + 'px'
                this.$refs.moveBox.classList.remove('scale')
                // if(this.imgSrc == 'haiyang2'){
                //     this.$refs.moveBox.classList.remove('scale1')
                // }else{
                //     this.$refs.moveBox.classList.remove('scale')
                // }
                
                this.$refs.moveBox.style.webkitTransform = `translate3d(-${this.MAX / 2}px,-${this.MAXH / 2}px,0)`
                this.isOrient = true
                this.orienterr  = new Orienter();
                this.orienterr.onOrient = this.onOrient;
                this.orienterr.on();
            }, 1500);
  
        }
        image.src = `static/img/gravity/${this.imgSrc}.jpg`
        //image.src = `static/img/gravity/dushi2.jpg`
        // 秒针埋点
        let choose = Number(localStorage.getItem('choose'))
        let nchoose = Number(localStorage.getItem('nchoose'))
        let resultName = ''
        // 0--奇妙森林  1--神秘星河  2--快乐都市  3--海洋世界
        switch (nchoose) {
            case 0:
                if (choose === 0) {
                    resultName = '森林-韦斯特曼'
                } else if (choose === 1) {
                    resultName = '森林-加利福尼亚'
                } else if (choose === 2) {
                    resultName = '森林-马达加斯加'
                }
                break
            case 1:
                if (choose === 0) {
                    resultName = '星河-芬兰'
                } else if (choose === 1) {
                    resultName = '星河-新西兰'
                } else if (choose === 2) {
                    resultName = '星河-夏威夷'
                }
                break
            case 2:
                if (choose === 0) {
                    resultName = '城市-圣母百花'
                } else if (choose === 1) {
                    resultName = '城市-广州'
                } else if (choose === 2) {
                    resultName = '城市-迪拜'
                }
                break
            case 3:
                if (choose === 0) {
                    resultName = '海洋-沙丁鱼迁徙'
                } else if (choose === 1) {
                    resultName = '海洋-所罗门群岛'
                } else if (choose === 2) {
                    resultName = '海洋-特鲁克泻湖'
                }
                break
        }
        stm_clicki('send', 'event', '重力感应页', '点击', resultName)
  },
  methods: {
    onOrient(obj) {
        // console.log('onOrient--onOrient--onOrient')
        this.moveGravity(obj);
    },
    moveGravity(obj) {

        a = obj.lon ;
       
       b = Math.abs(obj.lat)    
     
        
       if(lastA != 0){
            //  this.$refs.span.innerHTML ='a' + a +  'lastA:==' + lastA
            if(Math.ceil(Math.abs(a - lastA)) == 360 || Math.floor(Math.abs(a - lastA)) == 360){
                //    alert(a - lastA)
            }else{
                // this.$refs.span2.innerHTML =  'a:==' + moveA
                 
                moveA = Math.floor((a - lastA) * 20)
                moveB = Math.floor((b - lastB) * 20)
                if(Math.abs(moveA) > 50 || Math.abs(moveA) <= 1){
                    lastA = a
                    lastB = b
                    return
                }
                console.log('***********' + moveA)
                this.leftPX =  this.leftPX + moveA ; 
                this.topPX =  this.topPX - moveB ; 
                this.leftPX = this.leftPX > 0 ? 0 : (Math.abs(this.leftPX) < this.MAX ? this.leftPX : -this.MAX)
                this.topPX = this.topPX > 0 ? 0 : (Math.abs(this.topPX) < this.MAXH ? this.topPX : -this.MAXH)
                this.$refs.moveBox.style.webkitTransform = `translate3d(${this.leftPX}px,${this.topPX}px,0)`
                let aa = Math.floor(Math.abs((this.leftPX / this.MAX) * 100))
                this.showTips(aa)
                lastA = a
                lastB = b
            }
           
           
            
        }else{
            lastA = a
            lastB = b
        }
        
    
     
        //显示内容
        // let aa = Math.floor(Math.abs((this.moveImgObj.transX / this.MAX) * 100))
        // this.showTips(aa)
        // this.lastB = b
        
    },
    showTips(transX){
        //   this.$refs.span.innerHTML = 'transX:==' + transX
        if(this.imgSrc == 'senlin1'){
            if(transX  > 10 && transX < 50){
                document.getElementById('senlin1-1').classList.add('alert')
            }else if(transX  > 50 && transX < 90){
                document.getElementById('senlin1-2').classList.add('alert')
            }else{
                document.getElementById('senlin1-1').classList.remove('alert')
                document.getElementById('senlin1-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'senlin2'){
            if(transX  > 5 && transX < 40){
                document.getElementById('senlin2-1').classList.add('alert')
            }else if(transX  > 55 && transX < 90){
                document.getElementById('senlin2-2').classList.add('alert')
            }else{
                document.getElementById('senlin2-1').classList.remove('alert')
                 document.getElementById('senlin2-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'senlin3'){
            if(transX  > 10 && transX < 45){
                document.getElementById('senlin3-1').classList.add('alert')
            }else if(transX  > 55 && transX < 90){
                document.getElementById('senlin3-2').classList.add('alert')
            }else{
                document.getElementById('senlin3-1').classList.remove('alert')
                document.getElementById('senlin3-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'xinghe1'){
            if(transX  > 10 && transX < 50){
                document.getElementById('xinghe1-1').classList.add('alert')
            }else if(transX  > 55 && transX < 95){
                document.getElementById('xinghe1-2').classList.add('alert')
            }else{
                document.getElementById('xinghe1-1').classList.remove('alert')
                document.getElementById('xinghe1-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'xinghe2'){
            if(transX  > 5 && transX < 40){
                document.getElementById('xinghe2-1').classList.add('alert')
            }else if(transX  > 60 && transX < 95){
                document.getElementById('xinghe2-2').classList.add('alert')
            }else{
                document.getElementById('xinghe2-1').classList.remove('alert')
                document.getElementById('xinghe2-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'xinghe3'){
            if(transX  > 5 && transX < 40){
                document.getElementById('xinghe3-1').classList.add('alert')
            }else if(transX  > 60 && transX < 95){
                document.getElementById('xinghe3-2').classList.add('alert')
            }else{
                document.getElementById('xinghe3-1').classList.remove('alert')
                document.getElementById('xinghe3-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'dushi1'){
            if(transX  > 10 && transX < 50){
                document.getElementById('dushi1-1').classList.add('alert')
            }else if(transX  > 50 && transX < 93){
                document.getElementById('dushi1-2').classList.add('alert')
            }else{
                document.getElementById('dushi1-1').classList.remove('alert')
                document.getElementById('dushi1-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'dushi2'){
            if(transX  > 5 && transX < 40){
                document.getElementById('dushi2-1').classList.add('alert')
            }else if(transX  > 55 && transX < 90){
                document.getElementById('dushi2-2').classList.add('alert')
            }else{
                document.getElementById('dushi2-1').classList.remove('alert')
                document.getElementById('dushi2-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'dushi3'){
            if(transX  > 20 && transX < 50){
                document.getElementById('dushi3-1').classList.add('alert')
            }else if(transX  > 50 && transX < 85){
                document.getElementById('dushi3-2').classList.add('alert')
            }else{
                document.getElementById('dushi3-1').classList.remove('alert')
                document.getElementById('dushi3-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'haiyang1'){
            if(transX  > 5 && transX < 45){
                document.getElementById('haiyang1-1').classList.add('alert')
            }else if(transX  > 50 && transX < 85){
                document.getElementById('haiyang1-2').classList.add('alert')
            }else{
                document.getElementById('haiyang1-1').classList.remove('alert')
                document.getElementById('haiyang1-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'haiyang2'){
            if(transX  > 5 && transX < 45){
                document.getElementById('haiyang2-1').classList.add('alert')
            }else if(transX  > 55 && transX < 90){
                document.getElementById('haiyang2-2').classList.add('alert')
            }else{
                document.getElementById('haiyang2-1').classList.remove('alert')
                document.getElementById('haiyang2-2').classList.remove('alert')
            }
        }else if(this.imgSrc == 'haiyang3'){
            if(transX  > 5 && transX < 45){
                document.getElementById('haiyang3-1').classList.add('alert')
            }else if(transX  > 55 && transX < 95){
                document.getElementById('haiyang3-2').classList.add('alert')
            }else{
                document.getElementById('haiyang3-1').classList.remove('alert')
                document.getElementById('haiyang3-2').classList.remove('alert')
            }
        }
    },
    gonext(){
        stm_clicki('send', 'event', '重力感应页', '点击', '赢取探索之旅')
        gtag('event', 'info', {'event_category': 'kinder','event_label': 'click'});
        if(this.isOrient){
            this.orienterr.off();
        }
        this.$router.replace('/userinfo')
    },
    goback(){
        stm_clicki('send', 'event', '重力感应页', '点击', '返回图片选择')
        if(this.isOrient){
            this.orienterr.off();
        }
        this.$router.replace('/nchoose')
    }
  },
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
.tipsd{
    width: 50%;
    position: fixed;
    z-index: 99;
    width: 5rem;
    top: 27%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity:0;
    img{
        width: 100%;
    }
    
}
.kk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gravitybg{
    width: 100%;
    height: 100%;
  
    overflow-x: hidden;
    overflow-y: hidden;
    .fiexd{
        position: fixed;
        bottom: 1rem;
        width: 100%;
        height: 3rem;
        z-index: 99999;
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{ 
            font-size: 0.4rem;
            text-align: center;
            margin-bottom: 0.3rem;
            text-shadow:1px 0 1px #ffffff,
			-1px 0 1px #ffffff,
			0 -1px 1px #ffffff,
			0 1px 1px #ffffff;
        }
        .gjdl{
            width: 50%;
            margin-bottom: 0.3rem;
        }
    }
    .moveBox{
        width: 3750px;
        height: 1464px;
        // margin: 0 auto;
        // width: 2500px;
        // height: 976px;
        
        // transform: scale(0.667);
        .tips{
            width: 100%;
            height: 100%;
            position: relative;
            img{
                position: absolute;
                z-index: 999;
                opacity: 0;
                transform: scale(0)
            }
            // 奇幻森林
            .senlin1-1{top: 28%;left: 27%;width: 7.5rem;}
            .senlin1-2{top: 20%;left: 62%;width: 6.5rem;}

            .senlin2-1{top: 32%;left: 23%;width: 7rem;}
            .senlin2-2{top: 39%;left: 62%;width: 5.5rem;}

            .senlin3-1{top: 46%;left: 25%;width: 6.8rem;}
            .senlin3-2{top: 30%;left: 62%;width: 7rem;}

            //神秘星河
            .xinghe1-1{top: 43%;left: 26%;width: 5.6rem;}
            .xinghe1-2{top: 36%;left: 66%;width: 6.8rem;}

            .xinghe2-1{top: 35%;left: 23%;width: 6.8rem;}
            .xinghe2-2{top: 38%;left: 68%;width: 6rem;}

            .xinghe3-1{top: 23%;left: 22%;width: 6.5rem;}
            .xinghe3-2{top: 35%;left: 67%;width: 7.3rem;}

            //快乐都市
            .dushi1-1{top: 10%;left: 27%;width: 5.8rem;}
            .dushi1-2{top: 24.5%;left: 62%;width: 6.2rem;}

            .dushi2-1{top: 10%;left: 20%;width: 5.5rem;}
            .dushi2-2{top: 33%;left: 64.5%;width: 4.5rem;}

            .dushi3-1{top: 25%;left: 33%;width: 4.5rem;}
            .dushi3-2{top: 35%;left: 61%;width: 4.2rem;}

            //海洋世界
            .haiyang1-1{top: 60%;left: 24%;width: 6.5rem;}
            .haiyang1-2{top: 52%;left: 62%;width: 6rem;}

            .haiyang2-1{top: 50%;left: 24%;width:7.8rem;}
            .haiyang2-2{top: 56%;left: 65%;width: 6.5rem;}

            .haiyang3-1{top: 28%;left: 24%;width: 7.3rem;}
            .haiyang3-2{top: 38%;left: 67%;width: 7.3rem;}
        }
    }
    // span{
    //     position: fixed;
    //     color: red;
    //     z-index: 9999999;
    //     top: 0;
    //     left: 0;
    // }
    // p{
    //     position: fixed;
    //     color: red;
    //     z-index: 9999999;
    //     top:50px;
    //     left: 0;
    // }
}
</style>