<template>
  <div class="homebg">
      <div class="homemain">
          <img @click="gonext(1)" class="gif" src="static/img/home/1.gif" alt="">
           <!-- <img class="fdj" src="static/img/home/fdj.png" alt=""> -->
      </div>
      <div class="bottom">
          <img class="homebtn" @click="gonext(2)" src="static/img/home/homebtn.png" alt="">
          <!-- <div  class="btn">开始探索</div> -->
          <!-- <span >活动说明</span> -->
         <img class="hdsmbtn" @click="showHDSM(true)" src="static/img/home/hdsmbtn.png" alt="">
      </div>
      <div class="hdsm" v-show="isHDSM" @click="showHDSM(false)">
          <div class="fiexbox" @click.stop>
            <!-- <span>活动说明</span> -->
            <div class="main" ref="scroll">
                <img class="text" @load="load()" src="static/img/home/hdsm.png" alt="">
            </div>
            <img @click="showHDSM(false)" class="close" src="static/img/close.png" alt="">
          </div>
      </div>
  </div>
</template>

<script>
import BScroll from 'better-scroll'

export default {
  components: {},
  props: {},
  data() {
    return {
        scroll:'',
        isHDSM:false
    };
  },
  mounted() {},
  methods: {
      initScorll(){
           this.$nextTick(() => {
                this.scroll = new BScroll(this.$refs.scroll, {
                    probeType: 3,//允许实时监听 scroll
                    freeScroll: true,
                    scrollX:true,
                    click: true,
                    useTransition:false,  // 防止iphone微信滑动卡顿
                    bounce:false,//当滚动超过边缘的时候会有一小段回弹动画。设置为 true 则开启动画。
                    tap:true
                })    
            })
      },
      load(){
          
      },
      showHDSM(flag){
        this.isHDSM = flag;
        if (flag) {
            stm_clicki('send', 'event', 'homepage', '点击', '互动规则')
            gtag('event', 'rules', {'event_category': 'kinder','event_label': 'click'});
            this.$nextTick(()=>{
                this.initScorll()
            })
        }
      },
      gonext(flag){
        if (flag == 1) {
            gtag('event', 'start1', {'event_category': 'kinder','event_label': 'click'});
            stm_clicki('send', 'event', 'homepage', '点击', '进入')
        } else {
            gtag('event', 'start2', {'event_category': 'kinder','event_label': 'click'});
            stm_clicki('send', 'event', 'homepage', '点击', '开始探索')
        }
        this.$router.replace('/loading')
      }
  },
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
.homebg{
     width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    position: relative; 
    .homemain{
        width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
        height: 11rem;
        .gif{
            width: 100%;
        }
        .fdj{
            width: 2rem;
            position: absolute;
            right: 20%;
            top: 65%;
        }
    }
    .bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        .homebtn{
            width: 3.5rem;
        }
        .hdsmbtn{
            position: absolute;
            width: 1.5rem;
            right: 1rem;
        }
        span{
            position: absolute;
            color: #503434;
            font-size: 0.32rem;
            right: 1rem;
            border-bottom: 1px solid #ffffff;
            text-shadow: 0px 0px 5px #551514;
        }
    }
    .hdsm{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1.8rem 1rem;
        box-sizing: border-box;
        z-index: 9;
        .fiexbox{
            width: 100%;
            height: 100%;
            border: 3px solid #ffffff;
            background: rgba(0, 0, 0, 0.9);
            border-radius: 0.5rem;
            // padding: 1rem 0.5rem;
            box-sizing: border-box;
            text-align: center;
            position: relative;
             span{
                color: #ffffff;
                font-family: '黑体';
                font-size:0.5rem;
            }
            .main{
                width: 100%;
                height: 92%;
                overflow: hidden;
                margin-top: 0.5rem;
                .text{
                    width: 100%;
                }
            }
            
            .close{
                position: absolute;
                right: 10px;
                top: 10px;
                width: 0.8rem;
            }
        }
       
    }
}
</style>