<template>
  <div  class="loadingbg">
      <img class="loadimg" src="static/img/loadbg.jpg" alt="">
      <img class="logo" src="static/img/logo.png" alt="">
      <img class="goods" src="static/img/goods.png" alt="">
      <p class="mt">{{pro}}%</p>
      <div class="probg">
          <div class="mask"></div>
          <div class="pro" ref="pro"></div>
      </div>
      <p>探索中....</p>
      <img class="fiexd-text" src="static/img/fixed-text.png" alt="">
  </div>
</template>

<script>
export default {
  components: {},
  props: {},
  data() {
    return {
        pro:0,
        count:0
    };
  },
  created() {},
  mounted() {
    // if(this.$refs.pro){
    //     let ti = setInterval(()=>{
    //         this.pro ++
    //         this.$refs.pro.style.width = `${this.pro}%`
    //         if(this.pro == 100){
    //             clearInterval(ti)
    //             this.$router.replace('/choose')
    //         }
    //     },100)
    //   }
     this.preload()
  },
  methods: {
    // loadImage(){
    //     this.preload()
    // },
     preload: function() {
      let imgs = [
        "static/img/egg.png",
        "static/img/goods.png",
        "static/img/logo.png",
        "static/img/tips1.png",
        "static/img/tips2.png",
        "static/img/ctips.png",

        "static/img/choose/1.png",
        "static/img/choose/2.png",
        "static/img/choose/3.png",
        "static/img/choose/4.png",
        "static/img/choose/left.png",
        "static/img/choose/right.png",

        "static/img/nchoose/dushi1.jpg",
        "static/img/nchoose/dushi2.jpg",
        "static/img/nchoose/dushi3.jpg",
        "static/img/nchoose/haiyang1.jpg",
        "static/img/nchoose/haiyang2.jpg",
        "static/img/nchoose/haiyang3.jpg",
        "static/img/nchoose/senlin1.jpg",
        "static/img/nchoose/senlin2.jpg",
        "static/img/nchoose/senlin3.jpg",
        "static/img/nchoose/xinghe1.jpg",
        "static/img/nchoose/xinghe2.jpg",
        "static/img/nchoose/xinghe3.jpg",

        "static/img/gravity/dushi1.jpg",
        "static/img/gravity/dushi2.jpg",
        "static/img/gravity/dushi3.jpg",
        "static/img/gravity/haiyang1.jpg",
        "static/img/gravity/haiyang2.jpg",
        "static/img/gravity/haiyang3.jpg",
        "static/img/gravity/senlin1.jpg",
        "static/img/gravity/senlin2.jpg",
        "static/img/gravity/senlin3.jpg",
        "static/img/gravity/xinghe1.jpg",
        "static/img/gravity/xinghe2.jpg",
        "static/img/gravity/xinghe3.jpg",

        // "static/img/result/dushi1.jpg",
        // "static/img/result/dushi2.jpg",
        // "static/img/result/dushi3.jpg",
        // "static/img/result/haiyang1.jpg",
        // "static/img/result/haiyang2.jpg",
        // "static/img/result/haiyang3.jpg",
        // "static/img/result/senlin1.jpg",
        // "static/img/result/senlin2.jpg",
        // "static/img/result/senlin3.jpg",
        // "static/img/result/xinghe1.jpg",
        // "static/img/result/xinghe2.jpg",
        // "static/img/result/xinghe3.jpg",

        // "static/img/poster/dushi1.jpg",
        // "static/img/poster/dushi2.jpg",
        // "static/img/poster/dushi3.jpg",
        // "static/img/poster/haiyang1.jpg",
        // "static/img/poster/haiyang2.jpg",
        // "static/img/poster/haiyang3.jpg",
        // "static/img/poster/senlin1.jpg",
        // "static/img/poster/senlin2.jpg",
        // "static/img/poster/senlin3.jpg",
        // "static/img/poster/xinghe1.jpg",
        // "static/img/poster/xinghe2.jpg",
        // "static/img/poster/xinghe3.jpg",
      ]
      this.imglength = imgs.length

      for (let img of imgs) {
        let image = new Image()
       
        image.onload = () => {
          this.count++
           // 计算图片加载的百分数，绑定到percent变量
          this.pro = Math.floor(this.count / this.imglength * 100)
          this.$refs.pro.style.width = `${this.pro}%`
        }
         image.src = img
      }

    },
  },
  watch: {
       count: function(val) {
      // console.log(val)
      if (val === this.imglength) {
        //图片加载完成后跳转页面
       this.$router.replace('/choose')
      }
    }
  },
  computed: {},
};
</script>
<style lang="less" scoped>
.loadingbg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    // background: url(../../static/img/loadingbg.png) center;
    // background-size: cover;
    color: #fec62e;
    .loadimg{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
    }
    p{
      position: relative;
      z-index: 2;
      font-size: 0.6rem;
       margin-bottom: 0.2rem;
    }
    .mt{
      
        margin-top: -1.5rem;
    }
    .logo{
       width: 80%; 
       position: relative;
        z-index: 2;
    }
    .goods{
        width: 85%;
        margin-top: 1rem;
        position: relative;
        z-index: 2;
    }
    .probg{
        width: 75%;
        height: 20px;
        background: url(../../static/img/pro.png) no-repeat;
        background-size: 100% 100%;
        border: 1px solid #a0a0a0;
        border-radius: 20px;
        margin-bottom: 0.2rem;
        position: relative;
        z-index: 2;
         .mask{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 20px;
            z-index: 1;
         }
         .pro{
            position: absolute;
            width: 50%;
            height: 100%;
            background: url(../../static/img/pro.png) no-repeat;
            background-size: auto 100%;
            border-radius: 20px;
            z-index: 2;

         }
        
    }
}
</style>