<template>
    <div class="mainbg">
      <router-view/>
    </div>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .mainbg{
      width: 100%;
      height: 100%;
      background: url(../../static/img/bg.png) center;
      background-size: cover;
    }
</style>
