<template>
  <div class="nchoosebg">
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="(item,index) in LISTS" :key="index">
               <img :id="index" :src="item" alt="">
            </div>  
        </div>
         <div class="tips">
            <img src="static/img/ctips.png" alt="">
            <div @click="gonext()" class="btn">马上出发</div>
        </div>
    </div>
     <div class="dots">
        <div :class="{'actived':activeIndex == 0}"></div>
        <div :class="{'actived':activeIndex == 1}"></div>
        <div :class="{'actived':activeIndex == 2}"></div>
    </div>
   <div @click="goback()" class="goback"></div>
  </div>
</template>

<script>
import Swiper from 'swiper';
import 'swiper/dist/css/swiper.min.css';
export default {
  components: {},
  props: {},
  data() {
    return {
        ONCE:localStorage.getItem('choose'),
        senlin:[
        'static/img/nchoose/senlin1.jpg',
        'static/img/nchoose/senlin2.jpg',
        'static/img/nchoose/senlin3.jpg'],
        xinghe:[
        'static/img/nchoose/xinghe1.jpg',
        'static/img/nchoose/xinghe2.jpg',
        'static/img/nchoose/xinghe3.jpg'],
        dushi:[
        'static/img/nchoose/dushi1.jpg',
        'static/img/nchoose/dushi2.jpg',
        'static/img/nchoose/dushi3.jpg'],
        haiyang:[
        'static/img/nchoose/haiyang1.jpg',
        'static/img/nchoose/haiyang2.jpg',
        'static/img/nchoose/haiyang3.jpg'],
        LISTS:[],
        activeIndex:0
    };
  },
  created() {
        let currentPath = ''
        if (location.href.indexOf('#') > -1) {
            currentPath = location.href.split('#')[1]
        } else {
            currentPath = location.pathname
        }
        stm_clicki('send', 'pageview', {'page': currentPath, 'title': 'nchoose'})
  },
  mounted() {
      console.log(this.ONCE)
      if(this.ONCE == 0){
          this.LISTS = this.senlin
      }else if(this.ONCE == 1){
          this.LISTS = this.xinghe
      }else if(this.ONCE == 2){
          this.LISTS = this.dushi
      }else if(this.ONCE == 3){
          this.LISTS = this.haiyang
      }
      this.$nextTick(()=>{
          let _this = this
          this.mySwiper = new Swiper('.swiper-container', {
               direction:'vertical',
               preloadImages:false,
               autoplay:{
                   disableOnInteraction:false
               },
               loop:true,
               on: {
                slideChangeTransitionEnd: function(){
                    // _this.activeIndex = this.activeIndex - 2 < 0 ? 2 : this.activeIndex - 2 //切换结束时，this.activeIndex表示是第几个slide
                    _this.activeIndex = this.realIndex
                    // console.log(this.realIndex)
                },
            },
            })

      })
  },
  methods: {
      goback(){
          stm_clicki('send', 'event', '图片选择页', '点击', '返回主题选择')
          gtag('event', 'back', {'event_category': 'kinder','event_label': 'click'});
          this.$router.replace('/choose')
      },
      gonext(){
          stm_clicki('send', 'event', '图片选择页', '点击', '马上出发')
          gtag('event', 'go', {'event_category': 'kinder','event_label': 'click'});
          localStorage.setItem('nchoose',this.activeIndex)
          this.$router.replace('/gravity')
      }
  },
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>

.actived{
    background: #fdca3d!important;
    border: 3px solid #ffffff;
}
.nchoosebg{
    width: 100%;
    height: 100%;
    overflow: hidden;
  
}
.swiper-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .swiper-wrapper{
        .swiper-slide{
            overflow: hidden;
            img{
                width: 100%;
            }
        }  
    }
    .tips{
        position: fixed;
        // top: 50%;
        
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        bottom: 2rem;
        left: 50%;
        transform: translate(-50%,0);
        img{
            width: 60%;
            margin-bottom: 4.5rem;
        }
    }
   
}
.dots{
    position: fixed;
    top: 50%;
    transform: translate(0,-50%);
    right: 0.6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 999999;
    div{
        width: 12px;
        height: 12px;
        background: #ffffff;
        margin-top: 0.5rem;
        border-radius: 50%;
    }
}
</style>