<template>
  <div class="posterbg">
      <p>长按图片并保存</p>
      <img :src="imgurl" alt="">
      <div @click="goback()" class="goback"></div>
  </div>
</template>

<script>

export default {
  components: {},
  props: {},
  data() {
    return {
    };
  },
  created() {
     // 0--奇妙森林  1--神秘星河  2--快乐都市  3--海洋世界
      let choose = localStorage.getItem('choose')
      let nchoose = localStorage.getItem('nchoose')
     if(choose == 0){
         choose = 'senlin'
     }else if(choose == 1){
        choose = 'xinghe'
     }else if(choose == 2){
        choose = 'dushi'
     }else if(choose == 3){
        choose = 'haiyang'
     }
      this.imgurl = `static/img/poster/${choose}${parseInt(nchoose) + 1}.jpg`
  },
  mounted() {},
  methods: {
    goback(){
      this.$router.replace('/result')
    }
  },
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
.posterbg{
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p{
    color: #ffffff;
    margin-bottom: 1rem;
  }
  img{
     width: 100%;
    // height: 100%;
  }
}
</style>