<template>
  <div class="resultbg" ref="resultbg">
    <img class="postImg" :src="postImg" alt="">
    <div style="height:11rem"></div>
    <img class="resultt" src="static/img/result/result.png" alt="">
    <div class="btngroup" @click="goout()">
        <!-- <div @click="goPost()" class="btn pad changan">长按保存图片</div>&nbsp;&nbsp;&nbsp; -->
        <div class="btn pad chakan">查看中奖信息</div>
    </div>
    <!-- <img class="sharetips" src="static/img/result/sharetips.png" alt="" /> -->
  </div>
    
</template>

<script>
export default {
  components: {},
  props: {},
  data() {
    return {
        imgurl:'',
        postImg:''
    };
  },
  created() {
        let currentPath = ''
        if (location.href.indexOf('#') > -1) {
            currentPath = location.href.split('#')[1]
        } else {
            currentPath = location.pathname
        }
        stm_clicki('send', 'pageview', {'page': currentPath, 'title': 'result'})
      // 0--奇妙森林  1--神秘星河  2--快乐都市  3--海洋世界
      let choose = localStorage.getItem('choose')
      let nchoose = localStorage.getItem('nchoose')
     if(choose == 0){
         choose = 'senlin'
     }else if(choose == 1){
        choose = 'xinghe'
     }else if(choose == 2){
        choose = 'dushi'
     }else if(choose == 3){
        choose = 'haiyang'
     }
    this.imgurl = `static/img/result/${choose}${parseInt(nchoose) + 1}.jpg`
    this.postImg = `static/img/poster/${choose}${parseInt(nchoose) + 1}.jpg`
  },
  mounted() {
        this.$refs.resultbg.style.background = `url(${this.imgurl}) top`
        this.$refs.resultbg.style.backgroundSize = 'cover'
        // this.$root.showICON = false
        // 秒针埋点
        let choose = Number(localStorage.getItem('choose'))
        let nchoose = Number(localStorage.getItem('nchoose'))
        let resultName = ''
        // 0--奇妙森林  1--神秘星河  2--快乐都市  3--海洋世界
        switch (nchoose) {
            case 0:
                if (choose === 0) {
                    resultName = '森林-韦斯特曼'
                } else if (choose === 1) {
                    resultName = '森林-加利福尼亚'
                } else if (choose === 2) {
                    resultName = '森林-马达加斯加'
                }
                break
            case 1:
                if (choose === 0) {
                    resultName = '星河-芬兰'
                } else if (choose === 1) {
                    resultName = '星河-新西兰'
                } else if (choose === 2) {
                    resultName = '星河-夏威夷'
                }
                break
            case 2:
                if (choose === 0) {
                    resultName = '城市-圣母百花'
                } else if (choose === 1) {
                    resultName = '城市-广州'
                } else if (choose === 2) {
                    resultName = '城市-迪拜'
                }
                break
            case 3:
                if (choose === 0) {
                    resultName = '海洋-沙丁鱼迁徙'
                } else if (choose === 1) {
                    resultName = '海洋-所罗门群岛'
                } else if (choose === 2) {
                    resultName = '海洋-特鲁克泻湖'
                }
                break
        }
        stm_clicki('send', 'event', '图片保存页', '点击', resultName)
  },
  methods: {
      goout(){
        stm_clicki('send', 'event', '图片保存页', '点击', '查看中奖信息')
        this.$nextTick(() => {
            window.location = 'https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4OTA2NDc2Mg==#wechat_redirect'
        })
      }
  },
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
.sharetips{
    position: fixed;
    top: 0.2rem;
    right: 0.2rem;
    z-index: 999;
    width: 2rem;
}
.resultbg{
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    .postImg{
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: 3;
        top: 0;
        
    }
    .resultt{
        width: 45%;
        margin-bottom: 0.3rem;
        position: relative;
        z-index: 2;
    }
    .btngroup{
        display: flex;
        justify-content: center; 
        // margin-bottom: 3rem;
        .changan{
            position: relative;
            z-index: 1;
        }
        .chakan{
            position: relative;
            z-index: 4;
        }
        .pad{
            padding: 0.35rem 0.4rem!important;
        }
    }
}
</style>