<template>
  <div class="userbg">
      <img style="display:none" :src="imgurl" alt="">
       <img style="display:none" :src="postImg" alt="">
      <div class="userbox">
          <p class="text-c f-24">填写信息</p>
          <p class="text-c f-18 mt-10 lh">即有机会赢取<br/>和国家地理摄影师<br/>一起“趣”探索之旅</p>
          <p class="f-20  mt-10">姓名：</p>
          <input v-model="name" class="myinput mt-5" type="text">
          <p class="f-20  mt-10">电话：</p>
          <input v-model="mobile" class="myinput mt-5" type="tel" maxlength="11">
          <div class="ystk">
              <input v-model="check" type="checkbox">&nbsp;
              <span class="f-14">我已阅读并同意&nbsp;<span class="link" @click="showYSTK(true)">隐私条款</span></span>
          </div> 
           <img class="eggbg" src="static/img/egg.png" alt="">
      </div>
      <div class="btn" @click="goupInfo()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="popup" v-if="phoneErr">
          <div class="popmain">
              <div class="close" @click="closephoneErr()">
                  <img src="static/img/close.png" alt="">
              </div>
               <p>请勿重复提交<br/>同一手机号码</p>
               <br/>
               <div @click="closephoneErr()" class="btn">&nbsp;&nbsp;确定&nbsp;&nbsp;</div>
          </div>
      </div>
     
      <div class="hdsm" v-if="ystk">
          <div class="fiexbox ystkbox">
               <!-- <span>隐私条款</span> -->
               <div class="main">
                   <img class="text" src="static/img/ystk.png" alt="">
               </div>
               <img @click="showYSTK(false)" class="close" src="static/img/close.png" alt="">
          </div>
      </div>
      <div @click="goback()" class="goback"></div>
  </div>
</template>

<script>
import  axios from  'axios'
import  qs from  'qs'

import { Toast } from 'vant';
let phoneTest = /^1[3456789]\d{9}$/; //手机号正则表达式
export default {
  components: {},
  props: {},
  data() {
    return {
        phoneErr:false,
        ystk:false,
        check:false,
        name:'',
        mobile:'',
        chooseType:'',
        baseUrl:'https://kinderjoy.gypserver.com/saveUserMes/Home/Index/saveMes'
    };
  },
  created() {
        let currentPath = ''
        if (location.href.indexOf('#') > -1) {
            currentPath = location.href.split('#')[1]
        } else {
            currentPath = location.pathname
        }
        stm_clicki('send', 'pageview', {'page': currentPath, 'title': 'userinfo'})
       // 0--奇妙森林  1--神秘星河  2--快乐都市  3--海洋世界
      let choose = localStorage.getItem('choose')
      let nchoose = localStorage.getItem('nchoose')
      let _name
        if(choose == 0){
            if(nchoose == 0){
                this.chooseType = '森林-韦斯特曼'
            }else if(nchoose == 1){
                this.chooseType = '森林-加利福尼亚'
            }else if(nchoose == 2){
                this.chooseType = '森林-马达加斯加'
            }
            _name = 'senlin'
        }else if(choose == 1){
            if(nchoose == 0){
                this.chooseType = '星河-芬兰'
            }else if(nchoose == 1){
                this.chooseType = '星河-新西兰'
            }else if(nchoose == 2){
                this.chooseType = '星河-夏威夷'
            }
            _name = 'xinghe'
        }else if(choose == 2){
            if(nchoose == 0){
                this.chooseType = '城市-圣母百花'
            }else if(nchoose == 1){
                this.chooseType = '城市-广州'
            }else if(nchoose == 2){
                this.chooseType = '城市-迪拜'
            }
            _name = 'dushi'
        }else if(choose == 3){
            if(nchoose == 0){
                this.chooseType = '海洋-沙丁鱼迁徙'
            }else if(nchoose == 1){
                this.chooseType = '海洋-所罗门群岛'
            }else if(nchoose == 2){
                this.chooseType = '海洋-特鲁克泻湖'
            }
            _name = 'haiyang'
        }
        // 提前加载海报页和结果页
        this.imgurl = `static/img/result/${_name}${parseInt(nchoose) + 1}.jpg`
        this.postImg = `static/img/poster/${_name}${parseInt(nchoose) + 1}.jpg`
  },
  mounted() {
       document.body.addEventListener('focusout', () => {  //软键盘收起事件
           if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
            //软键盘收起的事件处理解决ios收起键盘底部有白色背景
            setTimeout(() => {
              const scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0
              window.scrollTo(0, Math.max(scrollHeight - 1, 0))
            }, 100)
          }
      })
  },
  methods: {
      showYSTK(flag){
          if (flag) {
              stm_clicki('send', 'event', '留资页', '点击', '隐私条款')
              stm_clicki('send', 'pageview', '/userinfo')
              gtag('event', 'privacy', {'event_category': 'kinder','event_label': 'click'});
          }
          this.ystk = flag
      },
      goupInfo(){
           console.log(this.chooseType)
          if(this.name == '' || this.name == null){
              Toast('请输入姓名')
          }else if(!phoneTest.test(this.mobile)){
               Toast('手机号码不正确，请检查')
          }else if(this.check == false){
              Toast('请勾选同意隐私条款')
          }else{
              stm_clicki('send', 'event', '留资页', '点击', '勾选隐私条款')
              stm_clicki('send', 'event', '留资页', '点击', '上传')
              gtag('event', 'upload', {'event_category': 'kinder','event_label': 'click'});
              let userinfo = new Object()
              userinfo.name = this.name
              userinfo.phone = this.mobile
              userinfo.chooseType = this.chooseType
              userinfo.fromwhere = '微信'
                Toast.loading({
                    mask: true,
                    message: '加载中...',
                    duration:0
                });
              axios.post(this.baseUrl,qs.stringify(userinfo)).then(res =>{
                 console.log(res)
                 Toast.clear()
                 if(res.data.code == 200){
                    this.$router.replace('/result')
                 }else if(res.data.code == 301){
                     this.phoneErr = true
                 }else{
                      Toast('储存信息失败')
                 }
              }) 
          }
      },
    goback(){
        stm_clicki('send', 'event', '留资页', '点击', '返回')
        this.$router.replace('/gravity')
      },
      closephoneErr(){
          this.phoneErr = false
      }
  },
  watch: {},
  computed: {},
};
</script>
<style lang="less" scoped>
.lh{
    line-height: 0.6rem;
}
.ystkbox{
    // width: 9rem;
    height: 9rem;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #561412;
    font-size: 0.58rem;
    z-index: 999;
    .popmain{
        position: relative;
        width: 5.5rem;
        height: 4.5rem;
        border: 3px solid #ffffff;
        border-radius: 10px;
        background: #f12711; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #ee7934, #ea4f24); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #ee7934, #ea4f24); 
        text-align: center;
        padding-top: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .close{
            position: absolute;
            top: 5px;
            right: 5px;
            width: 0.6rem;
            img{
                width: 100%;
            }
        }
    }
}
.userbg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    position: relative;
 
    .userbox{
        width: 7.8rem;
        height: 9.9rem;
        margin-top: 1.8rem;
        margin-bottom: 1.5rem;
        // background: url(/static/img/egg.png) no-repeat;
        // background-size: 100% 100%;
        color: #ffffff;
        text-shadow:2px 0 2px #561412,
			-2px 0 2px #561412,
			0 -2px 2px #561412,
			0 2px 2px #561412;
        padding: 1.4rem 1.2rem 0 1.2rem;
        box-sizing: border-box;
        position: relative;
        p{
            position: relative;
            z-index: 2;
        }
        .eggbg{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .myinput{
            position: relative;
            z-index: 2;
            width: 100%;
            height: 0.8rem;
            border: 2px solid #7d363d;
            border-radius: 3px;
            color: #000000;
            font-weight: 400;
            font-family: '黑体';
            font-size: 0.4rem;
    
        }
        .ystk{
            position: relative;
            z-index: 2;
            margin-top: 0.1rem;
            display: flex;
            align-items: center;
            input{
                width: 20px;
                height: 20px;
                background: #ffffff;
            }
            .link{
                padding-bottom:1px; 
                border-bottom: 1px solid #ffffff;
            }
        }
    }
}
</style>