<template>
  <div id="app">
    <img style="display: none" src="static/img/loadbg.jpg" alt="">
    <img v-show="$root.showICON" id='bgmicon' @click="PlayorPaused" :src=$root.bgmiconUrl  alt="">
      <audio  id="bgmmusic" preload loop="loop" src="static/bgm/bgm.mp3">
      您的浏览器不支持 audio 标签。</audio>
    <router-view/>
  </div>
</template>

<script>
let bgmmusic

export default {
  name: 'App',
  mounted(){
    // document.getElementById('index').style.display = 'none'
     this.audioPlay()
  },
   methods:{
      // 音乐i自动播放
      audioPlay() {
          bgmmusic = document.getElementById('bgmmusic')
          document.addEventListener('WeixinJSBridgeReady', function() {
              bgmmusic.play();
          }, false);
      },
      PlayorPaused(){
          console.log('bgmmusic.paused--------' + bgmmusic.paused )
          if(bgmmusic.paused) {
              this.$root.bgmiconUrl = 'static/img/bgmicon.png'
              bgmmusic.play();
          } else {
              this.$root.bgmiconUrl = 'static/img/bgmicon_p.png'
              bgmmusic.pause();
          }
      }
  }
}
</script>

<style lang="less">
@import './common/font/font.css';
#bgmicon{
    width: 1rem;
    position: fixed;
    top: 0.2rem;
    right: 0.2rem;
    z-index: 9999999;
  }

/* 去除选中后的外边框 */
input,
button,
a,div{
    outline: none!important;
}

.fiexd-text{
  position: fixed;
  z-index: 9999;
  bottom: 0.8rem;
  right: 5px;
  width: 2.2rem;
}


*{
  padding: 0;
  margin: 0;
}
html,body,#app{
  width: 100%;
  height: 100%;
  font-family: myfont;
  // background: #000000;
}
.btn{
  width: auto;
  background: url(../static/img/btn.png) no-repeat;
  background-size: 100% 100%;
  padding: 0.35rem 0.6rem;
  color: #561412;
  font-size: 0.5rem;
}
.goback{
    width: 0.5rem;
    height: 0.9rem;
    background: url(../static/img/back.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 0.5rem;
    top: 1rem;
    z-index: 9999;
}

.text-c{
  text-align: center;
}
.f-12{
  font-size: 0.24rem;
}
.f-14{
  font-size: 0.28rem;
}
.f-18{
  font-size: 0.4rem;
}
.f-20{
  font-size: 0.45rem;
}
.f-24{
  font-size: 0.6rem;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}

.alert{
    animation:alert 0.6s ease-in; 
    animation-fill-mode:forwards;
}
.fadeout{
    animation:fadeout 0.5s ease-in; 
    animation-fill-mode:forwards;
    animation-delay: 2s
}

.aroundAnimation{
     animation:aroundAnimation 1s ease-in; 
    animation-fill-mode:forwards;
    animation-delay: 0.5s;
    transform-origin: 50% 100%;
}
@keyframes aroundAnimation{
  0%,100% {
    // transition-timing-function: cubic-bezier(0.215,.61,.355,1); 
    // transform: translate3d(0,0,0);
     transform: rotate(0deg);
  }
  40%{
    transition-timing-function: cubic-bezier(0.755,0.50,0.855,0.060);
    // transform: translate3d(-20px,0,0);
     transform: rotate(-10deg);
  }
  // 70%{
  //   transition-timing-function: cubic-bezier(0.755,0.050,0.855,0.060);
  //   // transform: translate3d(-10px,0px,0);
  //   transform: rotate(-10deg);
  // }
  80%{
    // transform: translate3d(20px,0,0);
     transform: rotate(10deg);
  }
}


@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.scale{
    animation:scale 1s ease-in; 
    animation-fill-mode:forwards;
}
.scale1{
    animation:scale1 1s ease-in; 
    animation-fill-mode:forwards;
}
@-webkit-keyframes scale {
    0% {
      transform: scale(1) ;
        transform-origin:50% 50%;
        
    }
    100% {
       transform: scale(0.6);
       transform-origin:50% 50%;
    }
}
@keyframes scale {
     0% {
      transform: scale(1);
      transform-origin:50% 50%;
    }
    100% {
       transform: scale(0.6);
       transform-origin:50% 50%;
    }
}

@-webkit-keyframes scale1 {
    0% {
      transform: scale(1) translate(-25%);
        transform-origin:50% 50%;
        
    }
    100% {
       transform: scale(0.6) translate(0%);
       transform-origin:50% 50%;
    }
}
@keyframes scale1 {
     0% {
      transform: scale(1) translate(-25%);
      transform-origin:50% 50%;
    }
    100% {
       transform: scale(0.6) translate(0%);
       transform-origin:50% 50%;
    }
}


 /* 淡现 */
@-webkit-keyframes alert {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes alert {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
 .hdsm{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.8rem;
        box-sizing: border-box;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        .fiexbox{
            width: 100%;
            height: 100%;
            border: 3px solid #ffffff;
            background: rgba(0, 0, 0, 0.9);
            border-radius: 0.5rem;
            padding: 1rem 0.5rem;
            box-sizing: border-box;
            text-align: center;
            position: relative;
             span{
                color: #ffffff;
                font-family: '黑体';
                font-size:0.5rem;
            }
            .main{
                width: 100%;
                height: 92%;
                overflow: hidden;
                margin-top: 0.5rem;
                .text{
                    width: 100%;
                }
            }
            
            .close{
                position: absolute;
                right: 10px;
                top: 10px;
                width: 0.8rem;
            }
        }
       
    }


</style>
